commands:
  01_install_java:
    command: "yum install -y java-11-amazon-corretto-headless"
    ignoreErrors: false

  02_download_spark:
    command: "curl -o /tmp/spark.tgz https://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz"
    ignoreErrors: false

  03_extract_spark:
    command: "tar -xzf /tmp/spark.tgz -C /opt/ && mv /opt/spark-3.5.1-bin-hadoop3 /opt/spark"
    ignoreErrors: false

  04_set_env:
    command: |
      echo 'export JAVA_HOME=/usr/lib/jvm/java-11-amazon-corretto' >> /etc/profile.d/spark.sh
      echo 'export SPARK_HOME=/opt/spark' >> /etc/profile.d/spark.sh
      echo 'export PATH=$PATH:/opt/spark/bin' >> /etc/profile.d/spark.sh
